ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    /*background-color: #f3f3f3;*/
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: deepskyblue;
}

#Titulo1 {
    text-align: center;
    color:white;
    font-size: 800%;
    font-size: 4.5em; /* 40px/16=2.5em */
    font-family: monospace;
}

#Titulo2 {
    text-align: center;
    color: aqua;
    font-size: 500%;
    font-size: 2.8;
    font-family:monospace;
}

/*Definir Fondo*/
body {
    background-image: url(Background1.jpg);
    background-repeat: no-repeat; /*Mostrar sólo una imagen*/
    /*
    background-position: center; */
    background-position: left;
    /*margin: auto;*/
    background-attachment: fixed; /*No se va mover la imagen*/
}



